
header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #3a7afe;
    z-index: 1000;
    font-family: poppins;
}

.logo img{
    width:  50px;
    height: auto;
    margin-left: 15px;
}

header nav a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.bloca{
  background: linear-gradient(90deg, #b38e22, #f5e29c, #caa953);
   z-index: 10;
   padding-bottom: 20px;
}

.titre {
    text-align: center;
    font-weight: bold;
    padding-top: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

#body{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}


body{
    margin: 0;
}

hr{
    height: 3px;
    border: none;
    background-color: red;
    width: 70px;
    padding-top: 0;
}
.SERVICE {
  background-color: #3a7afe;
  padding-bottom: 25px;
}
.SERVICE h1{
    text-align: center;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: 40px;
}

.solutions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.chatbot {
    border: solid 2px;
    border-radius: 15px;
    margin: 10px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.chatbot h2 {
    text-align: center;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 0;
}

.chatbot p {
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
   font-weight: bold; 
   color: #ffffff;
}

.chatbot ul{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

.chatbot a{
    background-color: #ffffff;
    cursor: pointer;
    transition: background 0.3;
    box-shadow: 0 6px 10px rgba(0, 0, O, 0.7);
    border-radius: 15px;
    text-decoration: none;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 150px;
}

.chatbot a:hover {
    background-color: red;
    box-shadow: 0 6px 10px rgba(0, 0, O, 0.7);
    transform: translateY(-5px);
}


.site {
    border: solid 2px;
    border-radius: 15px;
    margin: 10px;
    padding-bottom: 25px;
    padding-left: 25px;
    
}

.site h2 {
    text-align: center;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 0;
}

.site p {
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
   font-weight: bold; 
   color: #ffffff;
}

.site ul{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

.site a{
    background-color: #ffffff;
    cursor: pointer;
    transition: background 0.3;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 150px;
}

.site a:hover {
    background-color: red;
    box-shadow: 0 6px 10px rgba(0, 0, O, 0.7);
    transform: translateY(-5px);
}

.moi {
    background-color: beige;
    padding: 10px;
}

.moi #profil {
    text-align: center;
}
.moi #profil img{
    width: 150px;
    height: auto;
    border-radius: 50px;
    border: solid 2px #3a7afe;
}

.moi h2{
    text-align: center;
    color: #3a7afe;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 0;
}
.moi p{
    font-family: 'Times New Roman', Times, serif;
   font-size: large;
   font-weight: bold; 
   color:  #ffffff;
   justify-content: space-between;
}

#moi {
    border:solid 3px red;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #3a7afe;
    border-radius: 15px;
}
.moi ul li {
    font-family: 'Times New Roman', Times, serif;
   font-size: large;
   font-weight: bold; 
   color:  #ffffff;
   justify-content: space-between;
}

.realisation {
    background-color: #3a7afe;
    padding: 8px;
    }

.realisation h2{
    text-align: center;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 0;
}

.realisation #realisation h3{
    text-align: center;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 0;
}

.realisation #projet{
    text-align: center;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.realisation .projet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 10px;
}

.realisation .projet #eshop {
  border: solid 2px red;
  border-radius: 15px;
  padding: 5px;
  color: #ffffff;
  padding-bottom: 15px;
}

.realisation .projet #eshop h3{
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
}

.realisation .projet #eshop a {
    background-color: #ffffff;
    cursor: pointer;
    transition: background 0.3;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 150px;
}

.realisation .projet #eshop a:hover{
    background-color: red;
    box-shadow: 0 6px 10px rgba(0, 0, O, 0.7);
    transform: translateY(-5px);
 }

footer {
    background: linear-gradient(90deg, #b38e22, #f5e29c, #caa953);;
    margin-top: 0;
    padding-bottom: 10px;
}

footer .foote {
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 20px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
    text-align: center;
}

footer  .foote img {
    width:  70px;
    height: auto;
    margin-top: 25px;
    text-align: center;
    margin-right: 25px;
}

footer .foote .contacte h4 {
    text-align: left;
    margin-left: 100px;
}

footer .droit {
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
   font-weight: bold; 
   color: #ffffff;
   text-align: center;
}
